.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.navImage {
  width: 35px;
  border-radius: 33px;
}

.myImage {
  margin-left: 1.5vw;
}

.login {
  margin-left: 15px;
  color: white;
}

.body {
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_form {}

.input {
  background-color: lavenderblush;
  border: #08c9c9;
  width: 15vw;
  margin-bottom: 12px;
  border-width: 5px;
  border: 1.5px solid #08c9c9;
  height: 3vh;
}

.button {
  background-color: rgb(46, 201, 201);
  width: 7vw;

}

.footer {
  height: 8vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #08c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
}


placeholder {
  color: gray;
}

table {
  border: 1px solid #08c9c9;
  border-collapse: collapse;
}

td {
  border: 2px solid #08c9c9;
  padding: 1px 45px 1px 45px;
}

tr {
  border: 1.5px solid #08c9c9;
}

.input1 {
  border: 1px solid #08c9c9;
  width: 21vw;
  height: 5vh;
  padding-left: 3vw;
  margin-bottom: 18px;
  margin-top: 2vh;
}

.update {
  color: blue;
  border: none;
  text-decoration: underline;
  background-color: white;

}

.center-col {
  overflow-y: scroll;
  height: 450px;
}

.register {
  display: flex;
  flex-direction: column;
}

.input_signUp {
  border: #08c9c9;
  width: 19vw;
  margin-bottom: 12px;
  border-width: 5px;
  border: 1.5px solid #08c9c9;
  height: 3.4vh;
  padding-left: 1vw;
}

fieldset {
  border: none;
}

.dob {
  border: none;
  margin-left: 3px;
}

.checkbox {
  margin-top: 0.5vh;
  margin-bottom: 1.5vh;
}

.button_signUp {
  background-color: rgb(46, 201, 201);
  width: 9vw;
  height: 4vh;

}

.input_signUp_fieldset {
  border: #08c9c9;
  width: 20vw;
  margin-bottom: 12px;
  border-width: 5px;
  border: 1.5px solid #08c9c9;
  height: 4vh;

}

.input3 {
  border: 1px solid #08c9c9;
  width: 18vw;
  height: 5vh;
  padding-left: 1vw;
  margin-bottom: 0px;
  margin-top: 2vh;
}

.input_div {}

.button1 {
  background-color: rgb(46, 201, 201);
  width: 7vw;
  padding: 8px;
  margin-top: 2vh;
}

.heading_addProduct {}

.navHeader {
  background-color: #08c9c9;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftRightDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-ul {
  padding: 5px;
  list-style: none;
  margin: 0px;
  background-color: 'red';
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul a {
  text-decoration: none;
  color: white;
}